.outer-page {
  .CreateAccountBox {
    column-gap: 3rem;
    @media screen and (max-width: 834px) {
      width: 90vw;
    }
    .mainContent {
      flex: 6;
      form {
        .name,
        .username,
        .password,
        h2,
        .password-checkbox,
        .form-buttons {
          padding: 1.25rem 0;
        }
        .name,
        .username,
        .password,
        h2 {
          @include vertical-flex;

          .nameInput,
          .pwdInput,
          .unameInput {
            display: flex;
            align-items: center;
            column-gap: 1.25rem;
            .input-box {
              @include inputBox;
            }
            @media screen and (max-width: 429px) {
              flex-direction: column;
              row-gap: 1rem;
            }
          }
          .password-checkbox {
            display: flex;
            align-items: center;
          }
          .password-checkbox {
            #showPwd {
              border: solid 5rem #000;
            }
            label {
              font-size: 0.85rem;
              margin-left: 0.25rem;
            }
          }
          small {
            @include smalltag;
          }
        }
        h2 {
          @include header-font;
        }

        .form-buttons {
          @include button-styling;
        }
      }
    }
    .sideContent {
      flex: 4;
      @include vertical-flex;
      align-items: center;
      text-align: center;
      p {
        @include subtext-font;
        font-size: larger;
      }
      @media screen and (max-width: 429px) {
        display: none;
      }
    }
  }
}
