@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600&family=Roboto:wght@100;300;400;500;700&display=swap");
@mixin header-font {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
}
@mixin subtext-font {
  font-family: "Open Sans", sans-serif;
  font-weight: 300;
}
@mixin general-font {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
}
@mixin align-center {
  display: flex;
  justify-content: center;
  align-items: center;
}
@mixin vertical-flex {
  display: flex;
  flex-direction: column;
}

//for input box in forms
@mixin inputBox {
  width: 100%;
  display: flex;
  align-items: center;
  position: relative;
  label {
    position: absolute;
    left: 10px;
    padding: 0.625rem 0;
    font-size: 0.9rem;
    color: #5f6368;
    pointer-events: none;
    // transition: 0.1s;
  }
  input {
    width: 100%;
    padding: 0.75rem 0.5rem;
    border: solid 1.25px rgb(221, 221, 221);
    border-radius: 0.25rem;
  }
  input:focus ~ label,
  // input:valid ~ label,
  // input:not([value=""]) ~ label,
  input:not(:placeholder-shown) ~ label {
    top: -1rem;
    left: 10px;
    color: #4285f4;
    font-size: 0.75rem;
    background-color: white;
    height: 10px;
    padding-left: 5px;
    padding-right: 5px;
  }
  input:focus {
    outline: none;
    border: 2px solid #4285f4;
  }
  input.error{
    border: 2px solid #FC3232;
  }
  input.error ~ label{
    color: #FC3232;
  }
}

// For Small tags
@mixin smalltag {
  color: #FC3232;
  padding: 0.3rem 0 0 0;
  display: block;
}

// For create google A/c Box
@mixin outer-box {
  border: solid 0.75px rgb(212, 212, 212);
  border-radius: 0.5rem;
  padding: 3rem;
  min-height: 30vh;
  min-width: 25vw;
  @media screen and (max-width: 834px) {
    width: 95vw;
  }
  @media screen and (max-width: 429px) {
    width: 100vw;
    border: none;
    padding: 1rem;
  }
}

//for button styling
@mixin button-styling {
  display: flex;
  justify-content: space-between;
  button {
    border: none;
    border-radius: 0.25rem;
    cursor: pointer;
    @include general-font;
    font-weight: 700;
  }
  button.transparent{
    padding: 0.75rem;
    color: #4285f4;
    background-color: inherit;
  }
  button.transparent:hover {
    // color: #3566B8;
    background-color: rgba(240, 252, 255, 0.377);
  }
  button.solid{
    background-color: #4285f4;
    color: #fff;
    padding: 0.75rem 1.75rem;
  }
  button.solid:hover {
    background-color: #3566b8;
  }
}

.outer-page{
  width: 100%;
  height: 100vh;
  @include align-center;
  .CreateAccountBox{
    display: flex;
    justify-content: center;
    @include outer-box;
  }
}