.outer-page {
  .CreateAccountBox {
    @media screen and (max-width: 834px) {
      width: 75vw;
    }
    @media screen and (max-width: 429px) {
      width: 90vw;
    }
    form {
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      .email,
      .password {
        width: 100%;
        padding: 0.5rem 0;
        .input-box {
          @include inputBox;
        }
      }
      h2, h3 {
        @include header-font;
      }
      h2, h3,
      .password-checkbox,
      .form-buttons {
        padding: 2rem 0;
        .input-box {
          @include inputBox;
        }
      }
      h3{
        padding-top: 0
      }
      h2{
        padding-bottom: 0.5rem
      }
      .email, .password {
        .emailInput, .pwdInput{
          small.hide{
            opacity: 0;
          }
        }
        small {
          @include smalltag;
          @media screen and (max-width: 429px) {
            padding: 0.25rem 0;
          }
        }
        button {
          border: none;
          border-radius: 0.25rem;
          cursor: pointer;
          @include general-font;
          font-weight: 700;
          a {
            text-decoration: none;
            color: #4285f4;
          }
        }
        button.transparent{
          padding: 0.75rem 0;
          color: #4285f4;
          background-color: inherit;
        }
        button.transparent:hover {
          background-color: rgba(240, 252, 255, 0.377);
        }
        .password-footer {
          display: flex;
          justify-content: flex-end;
        }
      }
      .form-buttons {
        width: 100%;
        @include button-styling;
      }
    }
  }
}

